Package: com.burritoz.audiomessagebegone
Name: AudioMessageBeGone
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: burrit0z
Author: burrit0z
Section: Tweaks
Version: 1.0
Installed-Size: 200
